body {
    padding: 0;
    margin: 0;
}
/*Header*/
    .logo {
        margin: 70px 0 0 0;
    }
    .header {
        background-color: #4dbefe;
        background-image: linear-gradient(90deg, #4dbefe 0%, #378fd9 100%);
        padding-bottom: 130px;
    }
    .content {
        width: 1170px;
        padding: 0 ;
        margin: 0 auto;
    }
    .header_text {
        width: 560px;
        color: white;
        font-size: 37px;
        letter-spacing: 1px;
        line-height: 49px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Ubuntu";
    }
    .header_text_up {
        font-size: 59px;
        line-height: 73px;
    }
    .header_text_small {
        margin-top: 40px;
        width: 413px;
        height: 91px;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 27px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Open Sans";
        width: 400px;
        margin-bottom: 40px;
    }
    .offer {
        display: flex;
        align-items:center;
    }
    .btn {
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 25px;
        color: #2e2a1b;
        font-weight: 900;
        font-family: "Montserrat";
        background-color: #ffd429;
        border: 1px solid #ffd429;
        padding: 20px 30px;
        text-align: center;
        text-decoration: none;
    }
/* Section block 2*/
.section_block_back {
    width: 1170px;
    padding: 0 ;
    margin: 0 auto;
}
.section_header{
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #201b2d;
    font-weight: 700;
    font-family: "Ubuntu";
    margin-top: 110px;
    margin-bottom: 80px;
}
.section_block_text {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 120px;
}
.section_block_text_title {
    font-size: 19px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #201b2d;
    font-weight: 700;
    font-family: "Ubuntu";
    padding-top: 10px;
}
.section_small_text {
    width: 298px;
    height: 74px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 22px;
    color: #201b2d;
    font-weight: 400;
    font-family: "Ubuntu";
    text-align: center;
}
/* Section block 3*/
.section_form {
    background-color: #ecf2f8;
}
.section_form_content {
    width: 1170px;
    padding: 0 ;
    margin: 0 auto;
}
.section_form_header {
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #201b2d;
    font-weight: 700;
    font-family: "Ubuntu";
    padding-top: 110px;
    padding-bottom: 45px;
}
.section_form_date {
    text-align: center;
    justify-content: center;
    display: flex;
}
.date {
    margin-top: 15px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #201b2d;
    font-weight: 400;
    font-family: "Ubuntu";
    display:flex;
    flex-direction:column;
    width: 330px;
}
.date_text {
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    padding: 15px 25px;
    text-align: left;
}
.btn_txt {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #2e2a1b;
    font-weight: 900;
    font-family: "Montserrat";
    background-color: #ffd429;
    margin-bottom: 100px;
}
/*Last block*/
footer {
    background-color: #164d7a;
    padding: 60px;
}
.footer {
    width: 1170px;
    padding: 0 ;
    margin: 0 auto;
    justify-content: center;
}
.footer_text {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}


